<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/JJinfo" version="2.0.0" viewmodes="maximized">
    <access origin="*" subdomains="true"></access>
    <tizen:allow-navigation>*</tizen:allow-navigation>
    <tizen:app-widget id="AHEoORjcl3.JJinfo.JJinfoWidget" primary="true">
        <tizen:widget-label>JJinfo widget</tizen:widget-label>
        <tizen:widget-content src="widget/JJinfoWidget/index.html">
            <tizen:widget-size preview="widget/JJinfoWidget/preview.png">2x2</tizen:widget-size>
        </tizen:widget-content>
    </tizen:app-widget>
    <tizen:application id="AHEoORjcl3.JJinfo" package="AHEoORjcl3" required_version="2.3"/>
    <content src="index.html"/>
    <tizen:content-security-policy>*</tizen:content-security-policy>
    <tizen:content-security-policy-report-only>*</tizen:content-security-policy-report-only>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/input.rotating_bezel"/>
    <feature name="http://tizen.org/feature/network.internet"/>
    <feature name="http://tizen.org/feature/network.net_proxy"/>
    <feature name="http://tizen.org/feature/network.push"/>
    <feature name="http://tizen.org/feature/network.secure_element"/>
    <feature name="http://tizen.org/feature/network.wifi"/>
    <feature name="http://tizen.org/feature/download"/>
    <feature name="http://tizen.org/feature/network.bluetooth"/>
    <feature name="http://tizen.org/feature/network.bluetooth.le"/>
    <feature name="http://tizen.org/feature/shell.appwidget"/>
    <feature name="http://tizen.org/feature/web.service"/>
    <icon src="icon.png"/>
    <name>JJinfo</name>
    <tizen:privilege name="http://tizen.org/privilege/bluetooth"/>
    <tizen:privilege name="http://tizen.org/privilege/download"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:privilege name="http://tizen.org/privilege/system"/>
    <tizen:privilege name="http://tizen.org/privilege/widget.viewer"/>
    <tizen:privilege name="http://tizen.org/privilege/wifidirect"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>&quot;widget/NewsFeedWidget/js/data.js&quot;</widget>
